@model MoviesModel

<ul class="nav nav-tabs bg-light">
    @foreach (var category in Model.Category)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Movie" asp-action="AllMovie" asp-route-id="@category.Id">
                @category.Name 
            </a>
        </li>
    }
</ul>
<br />
@if (Model.ActiveCategory != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Model.ActiveCategory.Name </li>
        </ol>
    </nav>
}
<br />
<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-lg-6">
            <div class="card bg-light text-dark">
                <br />
                <a asp-controller="Movie" asp-action="Movie" asp-route-id="@movie.Id">
                    <img src="" height="100" class="mx-auto d-block" alt="...">
                </a>
                <div class="card-body">
                    <a asp-controller="Movie" asp-action="Movie" asp-route-id="@movie.Id">
                        <h6 class="card-title text-center text-dark">@movie.Name </h6>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
