@model MoviesModel

<ul class="nav nav-pills mb-3">
    @foreach (var category in Model.Category)
    {
        <li class="nav-item">
            <a class="nav-link @(category.Id == Model.MovieCategory.Id ? "active" : "")" asp-controller="Movie" asp-action="Category" asp-route-id="@category.Id">@category.Name</a>
        </li>
    }
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">@Model.MovieCategory.Name</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Movie.Name</li>
    </ol>
</nav>

    <h1>@Model.Movie.Name</h1>
    <h5>@Model.Movie.AvailableTime</h5>
    <div>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
    </div>
    @*<div class="row">
        @foreach (var movie in Model.Movies)

        {

            <div class="card-body">
                <a class="nav-link" asp-controller="Movie" asp-action="Create" asp-route-name="@movie.Name">Choose movie</a>
            </div>
        }


    </div>*@







